<header>
  <nav class="myNavbar">
    <div>
      <img src="assets/logo_transparent.png" alt="GS" />
    </div>
    <div class="spacer"></div>
    <div class="link-items">
      <ul>
        <li>
          <a href="#"><span>01.</span> About</a>
        </li>
        <li>
          <a href="#"><span>02.</span> Experience</a>
        </li>
        <li>
          <a href="#"><span>03.</span> Work</a>
        </li>
        <li>
          <a href="#"><span>04.</span> Contact</a>
        </li>
      </ul>
    </div>
    <div
      id="nav-icon1"
      (click)="status = !status"
      [ngClass]="status ? 'open' : ''"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <app-side-drawer *ngIf="status"></app-side-drawer>
  </nav>
</header>
